<!doctype html>
<!-- templates/my_flights.html -->

<html lang="en">
<head>
    <title>My Flights</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>

    <script src="{{ url_for('static', filename='my_flights.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='bg-icon.jpeg') }}"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
    <meta name="theme-color" content="#222325" media="(prefers-color-scheme: dark)"/>
    <meta name="theme-color" content="#F7F7F6" media="(prefers-color-scheme: light)"/>
</head>
<body>
    <div id="map"></div>
    <div id="my-flights-body">
        <div class="my-flights-title-container">
            <div id="pfp" style="background-color: {{ colour }}">{{ initial }}</div>
            <div class="my-flights-pre-title">{{ name }}</div>
            <div class="my-flights-title"><span id="my-flights-count">My</span> flights</div>
        </div>
        <div class="my-flights-container">
            <div class="my-flights-content-box">
                <!-- !! Test content !! not loaded dynamically for now !! -->
                <div class="my-flights-title">Top Airports</div>
                <div id="mf-airport-1" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">1</div>
                    <div class="my-flights-rank-icon" style="background-image: url(https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/flags/1x1/au.svg)"></div>
                    <div class="my-flights-rank-name">SYD</div>
                </div>
                <div id="mf-airport-2" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">2</div>
                    <div class="my-flights-rank-icon" style="background-image: url(https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/flags/1x1/gb.svg)"></div>
                    <div class="my-flights-rank-name">LHR</div>
                </div>
                <div id="mf-airport-3" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">3</div>
                    <div class="my-flights-rank-icon" style="background-image: url(https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/flags/1x1/sg.svg)"></div>
                    <div class="my-flights-rank-name">SIN</div>
                </div>
                <div id="mf-airport-4" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">4</div>
                    <div class="my-flights-rank-icon" style="background-image: url(https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/flags/1x1/hk.svg)"></div>
                    <div class="my-flights-rank-name">HKG</div>
                </div>
                <div id="mf-airport-5" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">5</div>
                    <div class="my-flights-rank-icon" style="background-image: url(https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/flags/1x1/us.svg)"></div>
                    <div class="my-flights-rank-name">SFO</div>
                </div>
            </div>
            <div class="my-flights-content-box">
                <!-- !! Test content !! not loaded dynamically for now !! -->
                <div class="my-flights-title">Top Airlines</div>
                <div id="mf-airline-1" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">1</div>
                    <div class="my-flights-rank-icon my-flights-airline-rank-icon" style="background-image: url(https://www.flightaware.com/images/airline_logos/180px/BAW.png)"></div>
                    <div class="my-flights-rank-name">British Airways</div>
                </div>
                <div id="mf-airline-2" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">2</div>
                    <div class="my-flights-rank-icon my-flights-airline-rank-icon" style="background-image: url(https://www.flightaware.com/images/airline_logos/180px/VOZ.png)"></div>
                    <div class="my-flights-rank-name">Virgin Australia</div>
                </div>
                <div id="mf-airline-3" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">3</div>
                    <div class="my-flights-rank-icon my-flights-airline-rank-icon" style="background-image: url(https://www.flightaware.com/images/airline_logos/180px/JST.png)"></div>
                    <div class="my-flights-rank-name">Jetstar</div>
                </div>
                <div id="mf-airline-4" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">4</div>
                    <div class="my-flights-rank-icon my-flights-airline-rank-icon" style="background-image: url(https://www.flightaware.com/images/airline_logos/180px/QFA.png)"></div>
                    <div class="my-flights-rank-name">Qantas</div>
                </div>
                <div id="mf-airline-5" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">5</div>
                    <div class="my-flights-rank-icon my-flights-airline-rank-icon" style="background-image: url(https://www.flightaware.com/images/airline_logos/180px/ANZ.png)"></div>
                    <div class="my-flights-rank-name">Air New Zealand</div>
                </div>
            </div>
        </div>
        <div class="my-flights-container">
            <div class="my-flights-content-box">
                <!-- !! Test content !! not loaded dynamically for now !! -->
                <div id="mf-aircraft-1" class="my-flights-title">Top Aircraft</div>
                <div class="my-flights-rank-item">
                    <div class="my-flights-rank-number">1</div>
                    <div class="my-flights-rank-icon my-flights-aircraft-rank-icon" style="background-image: url(/image/icon/A359.svg)"></div>
                    <div class="my-flights-rank-name">B787</div>
                </div>
                <div id="mf-aircraft-2" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">2</div>
                    <div class="my-flights-rank-icon my-flights-aircraft-rank-icon" style="background-image: url(/image/icon/A320.svg)"></div>
                    <div class="my-flights-rank-name">A320</div>
                </div>
                <div id="mf-aircraft-3" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">3</div>
                    <div class="my-flights-rank-icon my-flights-aircraft-rank-icon" style="background-image: url(/image/icon/B773.svg)"></div>
                    <div class="my-flights-rank-name">A35K</div>
                </div>
                <div id="mf-aircraft-4" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">4</div>
                    <div class="my-flights-rank-icon my-flights-aircraft-rank-icon" style="background-image: url(/image/icon/A359.svg)"></div>
                    <div class="my-flights-rank-name">B772</div>
                </div>
                <div id="mf-aircraft-5" class="my-flights-rank-item">
                    <div class="my-flights-rank-number">5</div>
                    <div class="my-flights-rank-icon my-flights-aircraft-rank-icon" style="background-image: url(/image/icon/A220.svg)"></div>
                    <div class="my-flights-rank-name">E190</div>
                </div>
            </div>
            <div class="my-flights-content-box"></div>
        </div>

    </div>
</body>
</html>
