<!doctype html>
<!-- templates/my_flights.html -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flights</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="theme-color" content="#222325" media="(prefers-color-scheme: dark)"/>
    <meta name="theme-color" content="#F7F7F6" media="(prefers-color-scheme: light)"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='icon.jpeg') }}"/>

    <script src="{{ url_for('static', filename='leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='my_flights.js') }}"></script>
    <script>const myFlights = {{ my_flights | tojson }}</script>

    <style>
        @font-face {
            font-family: Inter;
            font-style: normal;
            font-weight: 100 900;
            font-display: block;
            src: url("{{ url_for('static', filename='fonts/inter.woff2') }}") format('woff2');
        }

        @font-face {
            font-family: Inter;
            font-style: italic;
            font-weight: 100 900;
            font-display: block;
            src: url("{{ url_for('static', filename='fonts/inter-italic.woff2') }}") format('woff2');
        }
    </style>
</head>
<body>
    <div id="aircraft-icons-sprite-wrapper">
        {{ aircraft_icons | safe }}
    </div>
    <div id="map"></div>
    <div id="my-flights-body">
        <div class="my-flights-title-container">
            <div id="pfp" style="background-color: {{ colour }}">{{ initial }}</div>
            <div class="my-flights-pre-title">My Flights</div>
            <div class="my-flights-title">{{ name }}</div>
        </div>
        <div class="my-flights-parent">
            <div class="my-flights-container">
                <div class="my-flights-content-box">
                    <div id="my-flights-flight-count" class="my-flights-title"></div>
                    <div id="my-flights-international-count" class="my-flights-alt-amount"></div>
                    <div id="my-flights-domestic-count" class="my-flights-alt-amount"></div>
                    <div id="my-flights-intercontinental-count" class="my-flights-alt-amount"></div>

                    <div id="my-flights-distance-count" class="my-flights-title"></div>
                    <div id="my-flights-distance-count-earth" class="my-flights-alt-amount"></div>

                    <div id="my-flights-country-count" class="my-flights-title"></div>
                    <div id="my-flights-country-count-flags" class="my-flights-alt-amount"></div>
                    <div id="my-flights-continent-count" class="my-flights-alt-amount"></div>
                </div>
                <div class="my-flights-content-box">
                    <div id="my-flights-airports-title" class="my-flights-title"></div>
                    <div id="my-flights-airports-0" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">1</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-airports-1" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">2</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-airports-2" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">3</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-airports-3" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">4</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-airports-4" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">5</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-flights-container">
                <div class="my-flights-content-box airlines">
                    <div id="my-flights-airlines-title" class="my-flights-title"></div>
                    <div id="my-flights-airlines-0" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">1</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-airlines-1" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">2</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-airlines-2" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">3</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-airlines-3" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">4</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-airlines-4" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">5</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                </div>
                <div class="my-flights-content-box types">
                    <div id="my-flights-types-title" class="my-flights-title"></div>
                    <div id="my-flights-types-0" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">1</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-types-1" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">2</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-types-2" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">3</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-types-3" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">4</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                    <div id="my-flights-types-4" class="my-flights-rank-item">
                        <div class="my-flights-rank-number">5</div>
                        <div class="my-flights-rank-icon"></div>
                        <div class="my-flights-rank-text">
                            <div class="my-flights-rank-name"></div>
                            <div class="my-flights-rank-amount"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="credits">
            Map displayed with <a target="_blank" href="https://leafletjs.com">Leaflet 🇺🇦</a>
            <br>
            <span id="my-flights-map-credit"></span>
            <br><br>
            <a target="_blank" href="about:blank">All acknowledgements &nearr;</a>
        </footer>
    </div>
</body>
</html>
