/* static/global.css */

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
    src: url('https://rsms.me/inter/font-files/InterVariable.woff2') format('woff2');
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    font-display: block;
    src: url('https://rsms.me/inter/font-files/InterVariable-Italic.woff2') format('woff2');
}

:root {
    --default-fonts: Inter, -apple-system, BlinkMacSystemFont, 'SF Pro', 'Helvetica Neue', system-ui, 'Segoe UI', Roboto, sans-serif;
    font-family: var(--default-fonts);
    font-feature-settings: 'liga' 1, 'calt' 1;
    --colour: black;
    --background-colour: rgba(247, 247, 246, 0.9);
    --control-colour: rgba(189, 189, 191, 1);
    --hover-colour: rgba(0, 0, 0, 0.05);
    --map-filters:
}

@media (prefers-color-scheme: dark) {
    :root {
        --colour: white;
        --background-colour: rgba(34, 34, 34, 0.9);
        --control-colour: rgba(104, 106, 109, 1);
        --hover-colour: rgba(255, 255, 255, 0.05);
        --map-filters: hue-rotate(180deg) invert(100%)
    }
}

body {
    background-color: var(--background-colour);
    margin: 0;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
    background-color: var(--background-colour);
}

.leaflet-overlay-pane .leaflet-interactive {
    cursor: default;
}

.leaflet-tile-pane {
    filter: opacity(50%) var(--map-filters);
}

.aircraft-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    cursor: pointer;
    transition: opacity 0.5s ease, transform 0.2s linear;
}

.aircraft-icon img {
    height: 100%!important;
    width: 100%!important;
    filter: drop-shadow(0 0 5px black);
}

.aircraft-icon:hover {
    opacity: 100%!important;
}

#resize-handle {
    margin-top: 5px;
    width: 36px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--control-colour);
    border-radius: 2.5px;
}

#main-container, #my-flights-body {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--background-colour);
    color: var(--colour);
    word-wrap: break-word;
    overflow: hidden;
    backdrop-filter: blur(15px) saturate(1.8);
    -webkit-backdrop-filter: blur(15px) saturate(1.8);
    bottom: 0;
    left: 0;
}

#main-container {
    border-radius: 10px 10px 0 0;
    width: 320px;
    height: calc(100vh - 10px);
    margin-top: calc(100vh - 65px);
    margin-left: 10px;
}

#main-container-main-view, #main-container-aircraft-view {
    max-height: 100%;
}

#aircraft-info {
    padding: 0 15px;
}

#pfp {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease, visibility 0s linear 0.25s;
}

#main-container-main-view #pfp {
    margin-top: 5px;
    right: 15px;
    position: absolute;
    width: 34px;
    height: 34px;
    font-size: 22px;
}

#pfp.hidden, #aircraft-list-clear.hidden {
    opacity: 0;
    visibility: hidden;
}

#aircraft-list-filter {
    color: var(--colour);
    background-color: var(--hover-colour);
    border: 0;
    outline: 0;
    height: 34px;
    margin: 5px 0 0 15px;
    width: calc(100% - 90px);
    font-size: 16px;
    padding: 0 8px;
    border-radius: 10px;
    position: absolute;
    transition: width 0.25s ease;
}

#aircraft-list-clear {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: absolute;
    right: 23px;
    top: 23px;
    color: var(--background-colour);
    background-color: var(--control-colour);
    font-size: 18px;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease, visibility 0s linear 0.25s;
    z-index: 2;
}

#aircraft-list-clear::before {
    content: "×";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -1px;
}

#aircraft-list-clear:active {
    opacity: 0.5;
}

#aircraft-list {
    margin-top: 55px;
    overflow: scroll;
    height: calc(100vh - 75px);;
}

#aircraft-list > div, #aircraft-list-count {
    position: relative;
}

#aircraft-list > div::before, #aircraft-list-count::before, #aircraft-list-count::after {
    content: "";
    position: absolute;
    right: 0;
    height: 0.5px;
    background-color: var(--control-colour);
}

#aircraft-list > div::before, #aircraft-list-count::before {
    top: 0;
}

#aircraft-list > div::before {
    width: calc(100% - 80px);
}

#aircraft-list-count::before, #aircraft-list-count::after {
    width: calc(100% - 30px);
    right: 15px;
}

#aircraft-list-count::after {
    bottom: 0;
}

#aircraft-list > div {
    transition: background-color 0.1s ease, border-top 0.1s ease;
    cursor: pointer;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 15px;
}

#aircraft-list > div:hover {
    background-color: var(--hover-colour);
    border-radius: 10px;
}

#aircraft-list > div:hover::before,
#aircraft-list > div:hover + div::before,
#aircraft-list > div:hover + #aircraft-list-count::before,
#aircraft-list > div:active::before,
#aircraft-list > div:active + div::before,
#aircraft-list > div:active + #aircraft-list-count::before {
    display: none;
}

#aircraft-list > div:active {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#aircraft-list > :first-child::before {
    display: none;
}

.aircraft-list-airline-logo, #aircraft-airline-logo, .my-flights-rank-icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1;
}

.aircraft-list-airline-logo {
    height: 50px;
    margin-left: 12.5px;
    position: absolute;
}

.aircraft-list-callsign, .aircraft-list-metrics {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 80px;
}

.aircraft-list-callsign {
    font-weight: bold;
    font-size: 18px;
}

.aircraft-list-metrics {
    color: grey;
    font-size: 15px;
}

#aircraft-list-count {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    color: grey;
}

#aircraft-list-credits {
    color: grey;
    text-align: center;
    font-size: 12px;
    margin-top: 25px;
    display:none;
}

#aircraft-airline-callsign {
    position: relative;
    padding-bottom: 5px;
    height: 2ch;
    padding-top: 15px;
}

#aircraft-airline-logo {
    height: 2ch;
    position: absolute;
}

#aircraft-airline-name {
    position: absolute;
    margin-left: 3ch;
}

#aircraft-callsign {
    position: absolute;
    right: 0;
    cursor: help;
}

#aircraft-route-origin, #aircraft-route-destination {
    position: absolute;
    color: grey;
}

#aircraft-route-origin {
    left: 0;
}

#aircraft-route-destination {
    right: 0;
}

#back, #info {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.1s ease, background-color 0.1s ease;
    color: white;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#info {
    font-family: ui-monospace, monospace;
    right: 0;
}

#back:hover, #info:hover, #back:active, #info:active {
    background-color: rgba(0, 0, 0, 0.5);
}


#aircraft-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background-color: var(--hover-colour);
    padding: 0 !important;
    margin: 0 !important;
    pointer-events: none;
    z-index: -1;
    position: relative;
}

#aircraft-img-shadow {
    width: 100%;
    height: 180px;
    box-shadow: 0 50px 50px -25px rgba(0, 0, 0, 0.5) inset;
}

hr {
    color: var(--control-colour);
    border-width: 0.1px;
    opacity: 0.5;
    border-style: solid;
}

.iata-input {
    font-size: 32px;
    font-weight: bold;
}

.iata-input, .iata-input:focus {
    position: absolute;
    width: 100px;
    background-color: var(--hover-colour);
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.1s ease-out, padding 0.1s ease-out;
    outline: none;
    border: none;
    font-family: var(--default-fonts);
    color: var(--colour);
    padding: 1px 5px;
}

.iata-input:valid, .iata-input:placeholder-shown {
    cursor: text;
    background-color: inherit;
    padding: 1px 0;
}

.iata-input:focus {
    cursor: text;
    background-color: var(--hover-colour);
    padding: 1px 5px;
}

.iata-input::placeholder {
    color: var(--colour);
}

.iata-input:focus::placeholder {
    opacity: 50%;
}

#iata-inputs-plane {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 85%;
    padding-top: 6px;
    fill: var(--colour)
}

#iata-inputs-parent {
    position: relative;
    margin: 0;
    min-height: 36px;
    height: auto;
    margin: auto;
}

#flight-progress {
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
}

#flight-progress::-webkit-progress-bar {
    background-color: var(--hover-colour);
    box-shadow: inset 0 0 1px 0.2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

#flight-progress::-webkit-progress-value {
    border-radius: 3px;
}

#flight-progress::-moz-progress-bar {
    border-radius: 3px;
}

#flight-progress::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#flight-progress::after {
    content: "";
    display: block;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.fis {
    border-radius: 50%;
    position: absolute;
    margin-top: 2px;
}

#aircraft-reg {
    margin-left: 2.25ch;
}

a, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.metre {
    stroke-linecap: round;
    display: block;
    margin: auto;
}

.metre text {
    fill: var(--colour)
}

.metre-value {
    font-weight: 700;
    font-size: 28px;
}

.metre-unit {
    font-weight: 600;
    font-size: 16px;
}

.metre-progress {
    transition: stroke-dashoffset 0.1s ease;
}

#my-flights-body {
    margin: 75vh 0 0;
    right: 0;
    height: auto;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#my-flights-body #pfp {
    width: 48px;
    height: 48px;
    font-size: 30px;
    margin-top: 4px;
    position: absolute;
}

.my-flights-container {
    display: flex;
    justify-content: center;
    height: 435px;
    width: 750px;
    margin: 10px;
}

.my-flights-content-box {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    margin: 10px;
    flex: 1;
    height: 100%;
    background-color: var(--hover-colour);
    border-radius: 10px;
}

.my-flights-title-container {
    width: 730px;
}

.my-flights-pre-title {
    font-size: 16px;
    color: grey;
    margin-left: 60px;
}

.my-flights-title {
    font-size: 30px;
    font-weight: bold;
}

.my-flights-title-container .my-flights-title {
    margin-left: 60px;
}

.my-flights-airport-icon div {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #FF9500;
    cursor: pointer;
}

.my-flights-airport-icon div::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border-radius: 50%;
    background-color: white;
    transition: width 0.1s ease, height 0.1s ease;
}

.my-flights-airport-icon div:hover::after {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
}

.my-flights-airport-tooltip {
    color: var(--colour);
    background-color: var(--background-colour);
    border-radius: 10px;
    border: 0;
    padding: 8px 12px;
    font-size: 12px;
    font-family: var(--default-fonts);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

.my-flights-airport-tooltip-title {
    font-size: 14px;
}

.my-flights-airport-tooltip-iata {
    margin-left: 1.25em;
    font-weight: bold;
}

.my-flights-airport-tooltip-title .fis {
    position: absolute;
    left: 0.75em;
    margin-top: 0.25em;
}

.my-flights-airport-tooltip-flights {
    font-size: 12px;
    color: grey;
}

.leaflet-tooltip-left:before {
    border-left-color: var(--background-colour)
}

.leaflet-tooltip-right:before {
    border-right-color: var(--background-colour)
}

.my-flights-content-box .my-flights-title {
    margin: 24px;
    font-weight: 600;
}

.my-flights-rank-item {
    margin: 24px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.my-flights-rank-icon {
    position: relative;
    height: 46px;
    border-radius: 50%;
    margin-left: 30px;
    overflow: hidden;
}

.my-flights-rank-icon.my-flights-airline-rank-icon {
    background-size: 24px;
}

.my-flights-rank-icon.my-flights-airline-rank-icon::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    background: inherit;
    filter: blur(13px) saturate(1.8);
    clip-path: circle(calc(50%) at center);
    border-radius: 50%;
    background-color: var(--background-colour);
    z-index: -1;
}

.my-flights-rank-icon.my-flights-aircraft-rank-icon {
    background-size: 30px;
    transform: rotate(45deg);
    background-color: var(--hover-colour);
}

.my-flights-rank-number {
    position: absolute;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    width: 1ch;
}

.my-flights-rank-name {
    font-size: 24px;
    margin-left: 10px;
}

@media (max-width: 770px) {
    .my-flights-container, .my-flights-title-container {
        width: calc(100% - 20px);
    }
    .my-flights-title-container {
        margin-left: 20px;
    }
}

@supports(padding: max(0px) and env(safe-area-inset-left)) {
    #main-container {
        margin-left: max(10px, env(safe-area-inset-left));
    }
}

@media (max-width: 500px) {
    #main-container {
        right: 10px;
        width: 100vw;
        margin-left: 0;
        margin-top: calc(100vh - 150px);
    }

    #aircraft-list > div {
        margin: 0;
    }

    #aircraft-list-count::before, #aircraft-list-count::after {
        width: 100%;
        right: 0;
    }

    #aircraft-list > div:hover {
        border-radius: 0px;
    }

    #aircraft-list > div::before {
        width: calc(100% - 95px);
    }

    .aircraft-list-airline-logo {
        margin-left: 24px;
    }

    .aircraft-list-callsign, .aircraft-list-metrics {
        margin-left: 95px;
    }

    #my-flights-body {
        border-radius: 10px 10px 0 0;
    }

    .my-flights-container {
        flex-direction: column;
        margin: 0;
        height: 910px;
    }

    .my-flights-content-box {
        margin: 20px 10px 0;
    }
}

@media (max-width: 290px) {
    body::after {
        content: 'The window is too thin.';
        background-color: var(--background-colour);
        color: var(--colour);
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        word-wrap: break-word;
        z-index: 1;
        backdrop-filter: blur(10px) saturate(1.8);
        -webkit-backdrop-filter: blur(10px) saturate(1.8);
    }
    body {
        position: fixed!important;
    }
}

@media (pointer: coarse) {
    #back, #info {
        width: 32px;
        height: 32px;
        margin: 10px;
        font-size: 20px;
    }

    #main-container-main-view #pfp {
        width: 36px;
        height: 36px;
        font-size: 24px;
    }

    #aircraft-list-filter {
        height: 36px;
        width: calc(100% - 92px);
        font-size: 18px;
        padding: 0 8px;
    }

    #aircraft-list-clear {
        top: 24px;
    }
}
